*{
    margin: 0;
    padding: 0;
    // background-color: aqua;
}

.container{
    // файл App.jsx
    .menu{
    // файл Menu.jsx
    background-color: #6c5ffc;
    ul{
        display: flex;
    list-style: none;
    padding: 10px;
    li{
        padding-left: 10px;
    }
    }
}
}